body {
    background-color:black;
}
.jumbotron {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.295) 100%,rgba(255,255,255,0.9) 0%), url('https://github.com/amylio/Belly-Button-Biodiversity/blob/main/MOD(12)_Challenge_Submission/Images/antibiotic-resistance-food_456px.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
}

.chart {
    background-color: linear-gradient(to bottom right, #666699 0%, #ffffcc 104%);
}